body{
    font-family:'cursive';
}

.bg{
    background: #0097B2;
    color: #f6f6f7;
}


.color{
    color: #0097B2;
    text-decoration: none;
}


.w-full{
    width: 100%;
}


.h-full{
    height: 100%;
}

.option:hover{
    background: #0097B2;
    color: #f6f6f7;
}

